/* 
.menu-button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
}
.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: white;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}
.menu-icon::before,
.menu-icon::after {
  content: "";
}
.menu-icon::before {
  transform: translate(-20px, -12px);
}
.menu-icon::after {
  transform: translate(-20px, 12px);
}

ul:hover .menu-icon {
  background-color: transparent;
}
ul:hover .menu-icon::before {
  transform: translateX(-20px) rotate(45deg);
}
ul:hover .menu-icon::after {
  transform: translateX(-20px) rotate(-45deg);
}
ul:hover li {
  display: block;
}

ul li {
  display: none;
  transform-origin: right;
  animation: showMenu 0.5s ease-in-out forwards;
}
*/

/* animation */
/* @keyframes showMenu {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}  */
